<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Triangle App?</title>
</head>
<body>
<form [formGroup]="sideForm">
  <table>
    <tr>
      <td>Length of side A</td>
      <td><input type="number" step="0.1" formControlName="sideA"/></td>
    </tr>
    <tr>
      <td>Length of side B</td>
      <td><input type="number" step="0.1" formControlName="sideB"/></td>
    </tr>
    <tr>
      <td>Length of side C</td>
      <td><input type="number" step="0.1" formControlName="sideC"/></td>
    </tr>
    <tr>
      <td><button type="submit" [disabled]="!profileForm.valid">Submit</button></td>
    </tr>
  </table>
</form>
</body>
</html>

<!--<router-outlet></router-outlet>-->



<!--(ngSubmit)="OnSubmit()">-->
